# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Windows
.DS_Store
Thumbs.db

# PyInstaller
build/
dist/
*.manifest
*.spec

#Claude Files
CLAUDE.md
learn.md